<style>
    #nav-faqs-link {
        color: #0070B9;
    }
</style>
<div class="container">
    <h4 class="text-center" style="font-weight:bold">Frequently Asked Questions</h4>

    <div class="border-margin"></div>
    <div class="question">1. How will I get back the money?</div>
    <div>Each month, based on the repayment from the borrowers, amount will be accrued in your wallet which you shall be
        able to see in your dashboard. You can withdraw your money to your bank account by clicking on the withdraw
        button.
    </div>
    <div class="border-margin"></div>
    <div class="question">2. What is the money being used for?</div>
    <div>The money is being used to purchase the solar homelighting system and the rural household is given the
        convenience of repayment in monthly instalments.
    </div>
    <div class="border-margin"></div>
    <div class="question">3. Am i paying the whole amount for the purchase of the product?</div>
    <div>No, the rural household shall atleast contribute 50% of the cost of the product at the time of purchase.</div>
    <div class="border-margin"></div>
    <div class="question">4. What is the cost of the product?</div>
    <div>The cost of the product is Rs. 5000.</div>
    <div class="border-margin"></div>
    <div class="question">5. Will all households require 50% of the product cost as assistance at the beginning?</div>
    <div>No, the requirements of the households may vary from 1% of the product cost to 50% of product cost.</div>
    <div class="border-margin"></div>
    <div class="question">6. Who is conducting due diligence?</div>
    <div>The field team of the Lytyfy will conduct the diligence and upload the list of eligible customers on the
        portal.
    </div>
    <div class="border-margin"></div>
    <div class="question">7. Is there a guarantee that my investment will be repaid?</div>
    <div>No, there is no guarantee that the amount shall be repaid. However, results in the microfinance industry per se
        are very positive and we shall take utmost care to ensure that the social investors shall get their investment
        back in due course of time.
    </div>
    <div class="border-margin"></div>
    <div class="question">8. Am I giving a donation?</div>
    <div>No, you are not giving a donation.</div>
    <div class="border-margin"></div>
    <div class="question">9. Why am I getting an interest of 0.60% per month whereas the rural customer is charged 2%
        per month?
    </div>
    <div>We are utilising the difference for conducting due diligence, collection of repayments and other processes.
    </div>
    <div class="border-margin"></div>
    <div class="question">10. What kind of interest rate calculations are we doing, simple or compound?</div>
    <div>We are using simple interest for all our calculations.</div>
    <div class="border-margin"></div>
    <div class="question">11. Will i be informed about the monthly progress of my investment?</div>
    <div>Yes, at any point of time you can see the performance of your investment in your dash board. The variations in
        the expected monthly returns shall also be visible.
    </div>
    <div class="space"></div>
</div>
<script type="text/javascript">
    // $("#nav-faqs-link").css("color","#0070B9");
</script>