<div class="space"></div>
<div class="container">
    <div id="how_it_works-bc-img" class="col-lg-6 col-sm-12 col-md-6 col-xs-12">
        <img class="menu-type img-responsive" ng-src="/bundles/fabric/images/how_it_works2.jpg">
    </div>
    <div id="how_it_works_text" class="col-lg-6 col-sm-12 col-md-6 col-xs-12 tmrgn-50">
        <div>&nbsp &nbsp Lytyfy facilitates end user financing for rural customers who are willing to adopt clean energy
            products but are restricted due to lack of capital. Rural customers who are interested in adopting solar
            technology are identified after conducting due diligence. The amount of loan required by a rural customer
            and the number of installments in which the rural customer can repay the loan are established based on the
            various parameters deduced using the due diligence process.

        </div>
        <div>&nbsp &nbsp The profiles of the rural customers who request for installment option are put up on Lytyfy and
            the money raised is used by the rural customer for purchasing solar home lighting systems which is then
            installed in their households. The rural customers then returns the money to the social investor in monthly
            installments. The interest that will be charged to the rural customer will be 2.00% per month. The interest
            rate that shall be provided to the social investor will be 0.60% per month. The difference between the two
            interest rates will be utilised for facilitating the transactions and the whole process.
        </div>
    </div>
</div>
<div class="space"></div>
<script type="text/javascript">
    $('#how_it_works-bc-img').load(function () {
        alert("yes");
    });
</script>
<style>
    #nav-how-it-works-link {
        color: #0070B9;
    }
</style>