{% block subject %}Resetting your password{% endblock %}

{% block body_text %}
    {% autoescape false %}
        Dear User,

        You can reset your password by clicking <a href="{{ confirmationUrl }}">here</a>

        Greetings,
        Deviab Team
    {% endautoescape %}
{% endblock %}

{% block body_html %}
    {#
        You can of course render the html directly here.
        Including a template as done here allows keeping things DRY by using
        the template inheritance in it
    #}
    {# {% include 'email/password_resetting.html.twig' %} #}
    
    <p>Dear User,</p>
    <p>You can reset your password by clicking <a href="{{ confirmationUrl }}">here</a></p>
    <p>Greetings,<br/>
    Deviab Team</p>
{% endblock %}